<app-nav-bar>

</app-nav-bar>

<div class="container1">
  <!--
    <div style="height: 170px;">

      <section class="ss-style-triangles" >
        <div class="column">
          <header>
            <h1 style="color: white;">Gestino Rh ENsaj</h1>
            <p style="color: white; ">Application programmé et designé par Kawtar & Fati</p>
          </header>
        </div>
      </section>
    </div>
    -->
  <section class="col-3 color">
    <!-- <div class="column col-md-6 col-xs-12">
         <div class="col-xs-2">
           <img height="64px" src="../../assets/todo.png" style="border: 1px solid #0f4b9f; border-radius: 50%" width="64px">
         </div>
         <div class="col-xs-10" style="text-align: left;" >Gestion des demandes congés : utilisateur peut effectuer une demande et suivi cette demande.</div>
   </div>
     <div class="column col-md-6 col-xs-12">
         <div class="col-xs-2">
           <img height="64px" src="../../assets/todo.png" style="border: 1px solid #0f4b9f; border-radius: 50%" width="64px">
         </div>
         <div class="col-xs-10" style="text-align: left;" >Gestion des demandes congés : utilisateur peut effectuer une demande et suivi cette demande.</div>
     </div>
     <div class="column col-md-6 col-xs-12">
       <div class="col-xs-2">
         <img height="64px" src="../../assets/todo.png" style="border: 1px solid #0f4b9f; border-radius: 50%" width="64px">
       </div>
       <div class="col-xs-10" style="text-align: left;" >Gestion des demandes congés : utilisateur peut effectuer une demande et suivi cette demande.</div>
     </div>
     <div class="column col-md-6 col-xs-12">
       <div class="col-xs-2">
         <img height="64px" src="../../assets/todo.png" style="border: 1px solid #0f4b9f; border-radius: 50%" width="64px">
       </div>
       <div class="col-xs-10" style="text-align: left;" >Gestion des demandes congés : utilisateur peut effectuer une demande et suivi cette demande.</div>
     </div>-->
    <div class="column">
      <img height="64px" src="../../assets/users.jpg" style="border: 1px solid #0f4b9f; border-radius: 50%" width="64px">
      <p style="text-align: center;color: white" > Employees <br><small class="small-text">employee employee employee employeeemployee employee.</small></p>
    </div>
    <div class="column">
      <img height="64px" src="../../assets/absent.png" style="border: 1px solid #0f4b9f; border-radius: 50%" width="64px">
      <p style="text-align: center;color: white" >Absence<br><small class="small-text">system permet de importer ,traiter et sauvgarder les presences des employees .</small></p>
    </div>
    <div class="column">
      <img height="64px" src="../../assets/stage.png" style="border: 1px solid #0f4b9f; border-radius: 50%" width="64px">
      <p style="text-align: center;color: white" > Stagaires <br><small class="small-text"> suivi simple des stagaires ; les demandes ,les collaborateur ainsi que la periode de chaque stagaire .</small></p>
    </div>
    <div class="column">
      <img height="64px" src="../../assets/message.png" style="border: 1px solid #0f4b9f; border-radius: 50%" width="64px">
      <p style="text-align: center;color: white" >Messageries <br><small class="small-text">Messagerie Messagerie Messagerie Messagerie .</small></p>
    </div>
    <div class="column">
           <img height="64px" src="../../assets/conge.png" style="border: 1px solid #0f4b9f; border-radius: 50%" width="64px">
      <p style="text-align: center;color: white" >Congés <br><small class="small-text">utilisateur peut effectuer une demande et suivi cette demande.</small></p>

    </div>
    <div class="column">
      <img height="64px" src="../../assets/statistique.png" style="border: 1px solid #0f4b9f; border-radius: 50%" width="64px">
      <p style="text-align: center;color: white" >Statistiques <br><small class="small-text" >congés congés congés congés.</small></p>
    </div>
  </section>
  <div style="height: 54px;">
    <section class="col-3 ss-style-doublediagonal">

    </section>
  </div>

</div><!-- /container -->


<!--

<div class="items-home">
  <div class="col-md-12">
    <div class="col-md-6 col-xs-12">
      <div class="col-xs-2">
        <img height="64px" src="../../assets/todo.png" style="border: 1px solid #0f4b9f; border-radius: 50%" width="64px">
      </div>
      <div class="col-xs-10" style="text-align: left;" >Gestion des demandes congés : utilisateur peut effectuer une demande et suivi cette demande.</div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="col-xs-2">
        <img height="64px" src="../../assets/import.png" style="border: 1px solid #0f4b9f; border-radius: 50%" width="64px">
      </div>
      <div class="col-xs-10 " style="text-align: left;" >Gestion d'absence des employee : system permet de importer ,traiter et sauvgarder les presences des employees .</div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="col-xs-2">
        <img height="64px" src="../../assets/import.png" style="border: 1px solid #0f4b9f; border-radius: 50%" width="64px">
      </div>
      <div class="col-xs-10 " style="text-align: left;" >Gestion des stagaire : suivi simple des stagaires ; les demandes ,les collaborateur ainsi que la periode de chaque stagaire .</div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="col-xs-2">
        <img height="64px" src="../../assets/import.png" style="border: 1px solid #0f4b9f; border-radius: 50%" width="64px">
      </div>
      <div class="col-xs-10 " style="text-align: left;" >Messagerie : environement simple de messagerie et de notification entre les membre associer dans l'application .</div>
    </div>

  </div>

</div>


-->

