.example-form-field {
  width: 200px;
}

.notifications {
  margin-top: 10px;
  outline: 0;
  margin-bottom: 10px;
  font-size: 15px;
}
.notifications .notification {
  margin: 0;
  padding: 15px 15px 15px 44px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  font-size: 1em;
  background: url(../../../assets/img/icon_alert_sprite-2x.png) no-repeat;
  background-size: 20px;
}
.notifications .notification.notification-critical {
  background-color: #fff7f7;
  background-position: 12px -387px;
  background-position: left 12px top -387px;
  border-color: #c72e2e;
}

.notifications .notification.notification-success {
  background-color: #f7fff7;
  background-position: 12px 12px;
  background-position: left 12px top 12px;
  border-color: #1b9e1b
}

.col-md-12 .note{
  border: 1px solid #0099dc;
  border-radius: 10px;

}
.col-md-12 .note-text{
  text-align: left;text-indent: 25%;
}
.text-title {
  margin-bottom: 50px;
  margin-top: 10px;
  color:#0070ba;
}
